.classification-result, .classification-result2{
  padding: 20px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
footer{
  display: none;
}
textarea{
  display: none;
}
.result{
  display: none;
}

